@model MWeb_test.Models.UserSettings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserSettings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterZoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterZoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinRadius)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinRadius)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SettingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
