@model IEnumerable<MWeb_test.Models.UserSettings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CenterLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterZoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinRadius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CenterLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterZoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SettingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SettingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SettingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
